<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000405458501-738mgmpkvmhotdq96ckmece7s2umqd85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000405458501-738mgmpkvmhotdq96ckmece7s2umqd85</string>
	<key>API_KEY</key>
	<string>AIzaSyDswDhdmHUc2hOHCWoWUUeY9B2WS3ys8ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1000405458501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.asleepy.Mindever</string>
	<key>PROJECT_ID</key>
	<string>mindever-560de</string>
	<key>STORAGE_BUCKET</key>
	<string>mindever-560de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000405458501:ios:345949fe75ca27a9dacd2c</string>
</dict>
</plist>